/*-- scss:defaults --*/

@font-face {
  font-family: "Acherus Grotesque";
  src:url('assets/fonts/acherus-grotesque-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-family-sans-serif: 'Acherus Grotesque', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: 'Acherus Grotesque', sans-serif;

$navbar-bg: #7fc5c5;
$link-color: darken($navbar-bg, 10%);
$link-hover-color: darken($navbar-bg, 20%);

.quarto-dashboard .bslib-value-box .value-box-value {
  font-size: 2.5rem !important;   // or 0.9rem, 1.25rem, etc.
}

/*-- scss:rules --*/


